@font-face {
    font-family: 'Freight';
    src: url(assets/Freight\ Sans\ Black.otf);
}

:root {
    --green: #007146;
    --light-green: #D4E9E2;
    --black: #1E1E1E;
    --light-grey: #F5F5F5;
    --white: #fff;
    --freight: 'Freight', sans-serif;
    --body-font: 'Fira Sans', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    color: var(--white);
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    font-size: 1.25rem;
}

.container {
    width: 95vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.primary {
    width: 25rem;
    height: 4.0625rem;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--light-green);
    border: none;
    border-radius: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5625rem;
}

.secondary {
    background-color: transparent;
    border: 2px solid var(--white);
    border-radius: 3.125rem;
    color: var(--white);
    font-size: 1.25rem;
    padding: 3px 20px 3px 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tertiary {
    background-color: transparent;
    border: none;
    color: var(--light-green);
    font-size: 1.25rem;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 2.8125rem;
}

.row {
    flex-direction: row;
    gap: 1rem;
}

.mt-p {
    margin-top: 9.375rem;
}

.mt-s {
    margin-top: 2rem;
}

.center {
    align-items: center;
    justify-content: center;
}

/* Primeira Página */

.cont-wel {
    justify-content: space-between;
}

.logo-wel {
    width: 24.6875rem;
    height: 9.375rem;
    background: url(assets/welcome_logo.svg) center no-repeat;
    background-size: contain; 
    margin-top: 3.125rem;
}

.ft-wel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ft-wel > p {
    color: var(--light-green);
}

/* Developer Page */

.logo-dev {
    width: 24.6875rem;
    height: 9.375rem;
    background: url(assets/developer_logo.svg) center no-repeat;
    background-size: contain; 
    margin-top: 3.125rem;
}

.cont-dev {
    justify-content: space-between;
}

.cont-dev > p{
    font-family: 'Fira Code', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.btn-dev {
    justify-content: center;
}

.center > p {
    font-family: 'Fira Code', sans-serif;
    font-size: 24px;
    color: var(--light-green);
}

/* Pages */

.logo {
    width: 200px;
    height: 40px;
    background: url(assets/logo.svg) center no-repeat;
    background-size: contain;
}

.container-pages {
    width: 100vw;
    margin: auto;
    background-color: var(--light-grey);
    color: var(--black);
}

.heading-pages {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--light-grey);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main {
    width: 100%;
    padding: 2rem;
    margin: 100px 0;
}

.main-alt {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.container-pages-alt {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: var(--light-grey);
    color: var(--black);
}

.btn-pages {
    width: 160px;
    height: 65px;
    margin-bottom: 1.5rem;
    padding-left: 0.9375rem;
}

.heading-h1 {
    font-family: var(--freight);
    font-size: 2.25rem;
    text-transform: uppercase;
}

.footer-pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
    height: 135px;
    background-color: var(--green);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

#total {
    color: white;
    font-size: 2.5rem;
}

.span-title {
    color: var(--light-green);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1875rem;
}

.pages {
    width: 11.25rem;
    height: 4.0625rem;
    font-size: 1.5rem;
    justify-content: center;
    gap: 0;
    padding: 0;
}

.card {
    position: relative;
    background-color: var(--green);
    width: 100%;
    height: 150px;
    margin: 2rem 0;
    border-radius: 0.625rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.card > img {
    position: absolute;
    margin-right: 1rem;
    right: 0;
    bottom: 0;
}

.card-title {
    font-size: 3rem;
}

.card-opt {
    border: 3px solid var(--green);
    width: 100%;
    height: 180px;
    margin: 2rem 0;
    border-radius: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.card-opt p {
    color: #747474;
    margin-bottom: 10px;
}

.head-card {
    font-size: 1.75rem;
    font-weight: 500;
}

.valor {
    font-size: 2rem;
    font-weight: 500;
}

.brn-footer {
    width: 250px;
}

/*  */

.hide {
    display: none;
}