@import url(global.css);
@font-face {
    font-family: 'Freight';
    src: url(../assets/Freight\ Sans\ Black.otf);
}

body {
    background-color: var(--light-grey);
    color: var(--black);
}

a {
    color: var(--black);
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    height: 100%;
}

section {
    padding-top: 6.25rem;
    padding-bottom: 10rem;
}

.pages {
    margin-bottom: 2rem;
    justify-content: center;
}

.card {
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--green);
    border-radius: 10px;
    padding: 2rem;
    margin-top: 2rem;
}

.card h1 {
    display: inline;
}

.quantidade {
    font-size: 1.75rem;
    color: var(--green);
    font-weight: 400;
}

.lanche {
    margin-left: 1rem;
    color: var(--black);
    font-weight: 500;
}

header {
    background-color: var(--light-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

header h1 {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-family: 'Freight', sans-serif;
}

footer {
    background-color: var(--green);
    padding: 2rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .primary, .secondary {
    padding: 1rem 2rem;
}

footer div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer span {
    font-size: var(--defaut-size);
    font-weight: 500;
    letter-spacing: 3px;
    color: var(--light-green);
}

footer h1 {
    font-size: 3.5rem;
}

.hide {
    display: none;
}

.modal {
    z-index: 1000;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--black);
    color: var(--light-green);
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem;
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    transition: all ease 300ms;
}

#close, #continue {
    padding: 1rem;
    width: 100%;
}

#continue {
    background-color: var(--green);
    border: 3px solid var(--green);
    color: white;

}

.danger {
    background-color: transparent;
    border: 3px solid rgb(214, 16, 16);
    color: rgb(214, 16, 16);
}

.modal-cancel {
    position: fixed;
    width: 60%;
    height: 30%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
    background-color: var(--light-grey);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    visibility: visible;
    opacity: 1; 
    transition: all ease 300ms;
}

.contrast {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 1;
    transition: all ease 100ms;
}

.hide {
    visibility: hidden;
    transform: translateY(70%);
    opacity: 0;
}

.hide-contrast {
    visibility: hidden;
    opacity: 0;
}
